/*General*/

html {
    height: 100%;
}

form {
    width: 50%;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

.form-control {
    background-color: #DCDCDC!important;
    color: #000!important;
}

body {
    height: 100%;
    width: 100%;
}

.content {
    padding-left: 10px;
}

.text-center {
    text-align: center;
}

.page-messages {
    color: #ffff;
}

.page-header {
    text-align: left;
    padding-left: 20px;
}

.center-child {
    text-align: center;
}

/* Nav bar */

.mob-nav-link {
    color: #000;
    padding-left: 15px;
    margin-left: 10px;
}

.mob-burger {
    padding: 8px;
    margin: 10px;
}

/* Img */

.img-div {
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    background-position: center;
}

.img-div-lrg {
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
    background-position: center;
    margin: 20px;
}

/*Homepage*/

.home-options{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px; 
    font-size: 20px;
    width: 100%;
}


.home-text {
    background-color: #ffff;
    color: #000;
    height: 15%;
    width: 20%;
    display: inline-block;
    border-radius: 25px;
}

/*Unpurchasables*/
.piece {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.piece-content {
    margin: 40px;
    font-size: 17px;
}

.piece-text {
    text-align: left!important;
}

.piece-link {
    font-size: 20px;
}

.sub-header {
    color: #000;
    padding-left: 20px;
    padding-bottom: 5px;
}

.filter-text {
    color: #000;
    background-color: #ffff;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}

.filter-desc {
    font-size: 17px;
}

/*Unpurchasable view*/

.one-piece {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.one-piece-text {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 20px;
    background-color: #DCDCDC;
    border-radius: 10px;

}

/*Sign inout*/

.sign-in {
    margin-left: 0%!important;
    margin-right: 0%!important;
    width: 25%!important;
}

/*Hover*/

.home-options:hover {
    transition: 1s;
    background-color: #DCDCDC;
}


.home-text:hover{
    background-color: #C8C8C8;
    transition: 0.4s;
    color: #ffff;
    height: 40px;
    width: 30%;
} 

.filter-text:hover {
    color: #ffff;
    background-color: #DCDCDC;
    transition: 0.2s;
}

.piece-content:hover {
    background-color: #DCDCDC;
}

.footer-link:hover {
    text-decoration: underline;
    color: #ffff;
}

/*footer*/

footer {
    height: 25px;
    width: 100%;
    background-color: #878787;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}

.footer-text {
    color: white;
    padding-left: 23px;
    padding-right: 23px;
}

ul li {
    display: inline;

}

/*---------------------------------- MOBILE Hide */

@media(max-width: 768px) {
    .mobile-hide {
        display: none !important;
    }
}


/*---------------------------------- MOBILE ONLY */

@media(min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
    
}