/*General*/

form {
    width: 50%;
}

body {
    background-image: linear-gradient(#ffff, #AFAEAE);
    height: 100%;
    width: 100%;
}

.content {
    padding-left: 10px;
}

.page-messages {
    color: #ffff;
}

.page-header {
    text-align: left;
    padding-left: 20px;
}

.inline {
    display: inline;
}

/* Nav bar */

.mob-nav-link {
    color: #000;
    padding-left: 15px;
    margin-left: 10px;
}

.mob-burger {
    padding: 8px;
    margin: 10px;
}

/* Form for loops */

.img-div {
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    display: inline-block;
}

/*Homepage*/

.home-options{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px; 
    font-size: 20px;
    width: 100%;
}


.home-text {
    background-color: #ffff;
    color: #000;
    height: 15%;
    width: 200px;
    display: inline-block;
    border-radius: 25px;
}

/*Unpurchasables*/
.piece {
    text-align: center;
    margin: 40px;
}

.piece-content {
    text-align: center;
    margin: 40px;
}

.sub-header {
    color: #000;
    padding-left: 20px;
    padding-bottom: 5px;
}

.filter-text {
    color: #000;
    background-color: #ffff;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}

/*Hover*/

.home-options:hover {
    transition: 1s;
    background-color: #ffff;
}


.home-options:hover .home-text{
    background-color: #6D6D6D;
    transition: 0.2s;
    color: #ffff;
}

.filter-text:hover {
    color: #ffff;
    background-color: #AFAEAE;
    transition: 0.2s;
}

/*footer*/

footer {
    height: 20px;
    width: 100%;
    background-color: #AFAEAE;
}

ul li {
    display: inline;

}

/*---------------------------------- MOBILE Hide */

@media(max-width: 768px) {
    .mobile-hide {
        display: none !important;
    }
}


/*---------------------------------- MOBILE ONLY */

@media(min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}