{%extends "base.html"%}
{%block content%}
    <h1>About Tom</h1>

    <div class="row about-content">  
<!-- about -->
        <div class="col-md-6">
            <!-- personal -->
            <h2 class="col-md-12"><u>Personal</u></h2>
            <div class="about-text col-md-12"><b>Name: </b>Tom Garratt</div>
            <div class="about-text col-md-12"><b>E-mail: </b>GraphicsByTom@gmail.com</div>
            <div class="about-text col-md-12"><b>Number: </b>07777777777</div>
            <div class="about-text col-md-12"><b>Bio: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque
             habitant morbi tristique senectus et netus et. Morbi leo urna molestie at 
            elementum eu facilisis sed. Amet dictum sit amet justo donec enim diam vulputate ut.</div>
        </div>

        <div class="col-md-6 row">
            <!-- work -->
            <h2 class="col-md-12"><u>Career</u></h2>
            <div class="about-text col-md-12"><b>Job title: </b>Graphics Designer</div>
            <div class="about-text col-md-12"><b>specialty: </b>Design detail</div>
            <div class="about-text col-md-12"><b>Experiance: </b> 5 Years</div>
            <div class="about-text col-md-12"><b>My socials links: </b>
                    <li><a class="social-links-abt" href="https://www.linkedin.com/in/tom-garratt-303284168/" target="_blank">LinkedIn</a></li>
                    <li><a class="social-links-abt" href="https://github.com/tgarratt" target="_blank">GitHub</a></li>
                    <li><a class="social-links-abt" href="N/A" target="_blank">Twitter</a></li>
            </div>

        </div>
    </div>

{%endblock%}