{%extends "base.html"%}
{%block content%}
    <h1>Admin orders</h1>
    <div>
        {%for orders in orders%}
        <br>
        <div>
            <div class="img-div" style="background-image: url('{{MEDIA_URL}}{{orders.draft}}')">image</div>
            <div>Title: {{orders.title}}</div>
            <div>Order date: {{orders.order_date}}</div>
            <div>Username: {{orders.user_name}}</div>
            <div>Email: {{orders.user_email}}</div>
            <div>{% include "partials/orders_category.html" %}</div>
            <div>{% include "partials/orders_when.html" %}</div>
            <div>Price: {{orders.order_total}}</div>
            {% if request.user.is_superuser %}
            <a href="{% url 'admin_orders_delete' orders.id %}">Complete</a>
            {%endif%}
        </div>
        <br>

        {%endfor%}

    </div>
    
{%endblock%}