<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{%static 'css/custom.css'%}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> 
    <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	{%block head_tag_js%}
	{%endblock head_tag_js%}
	<title>Graphics by Tom</title>
</head>

<body class="body-color">
    <div class="mobile-hide">
        <nav class="navbar navbar-default">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="{%url 'home'%}" class="glyphicon glyphicon-home"></a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="{%url 'admin_orders'%}">Admin orders</a></li>
                    {%endif%}
                    {%if user.is_authenticated%}
                        <li><a href="{%url 'profile'%}">Profile</a></li>
                        <li><a href="{%url 'sign_out'%}">Sign out</a></li>
                    {%else%}
                        <li><a href="{%url 'sign_in'%}">Sign in/register</a></li>
                    {%endif%}
                </ul>
            </div>
        </nav>
    </div>
    <div class="mobile-only">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <ul class="nav navbar-nav">
                    <li><a href="{%url 'home'%}" class="mob-nav-link">Home</a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="{%url 'admin_orders'%}"  class="mob-nav-link">Admin orders</a></li>
                    {%endif%}
                    {%if user.is_authenticated%}
                        <li><a href="{%url 'profile'%}"  class="mob-nav-link">Profile</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <button class="navbar-toggler inline glyphicon glyphicon-menu-hamburger mob-burger" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {%if user.is_authenticated%}
                <div  class="inline"><a href="{%url 'sign_out'%}" class="mob-nav-link">Sign out</a></div>
            {%else%}
                <div  class="inline"><a href="{%url 'sign_in'%}" class="mob-nav-link">Sign in/register</a></div>
            {%endif%}
        </nav>
    </div>

	{%block content%}
	{%endblock%}


    <footer>
        <div>
            <ul>
                <li><a href="https://github.com/tgarratt" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/tom-garratt-303284168/" target="_blank">LinkedIn</a></li>
                <li><a href="N/A" target="_blank">Twitter</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>