<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{%static 'css/custom.css'%}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> 
    <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	{%block head_tag_js%}
	{%endblock head_tag_js%}
	<title>Graphics by Tom</title>
</head>

<body>
	<nav class="navbar navbar-default">
		<div>
			<ul class="nav navbar-nav">
				<li><a href="{%url 'home'%}">HOME</a></li>
				{%if user.is_authenticated%}
				<li><a href="{%url 'sign_out'%}">Sign out</a></li>
				<li><a href="{%url 'profile'%}">Profile</a></li>
				{% if request.user.is_superuser %}
				<li><a href="{%url 'admin_orders'%}">Admin orders</a></li>
				{%endif%}
				{%else%}
				<li><a href="{%url 'sign_in'%}">Sign in/register</a></li>
				<li></li>
				{%endif%}
			</ul>
		</div>
	</nav>

	{%block content%}
	{%endblock%}

</body>

</html>