<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graphics by Tom</title>
</head>
<body>
<nav>

    {%if user.is_authenticated%}
        <div><a href="{%url 'sign_out'%}">Sign out</div>
        <div><a href="{%url 'profile'%}">Profile</div>
        {% if request.user.is_superuser %}
        <div><a href="{%url 'unpurchasable_form'%}">Add piece</div>
        <div><a href="{%url 'admin_orders'%}">Admin orders</div>
        {%endif%}
    {%else%}
        <div><a href="{%url 'sign_in'%}">Sign in/register</div>
    {%endif%}
    
    
    <div>
    <a href="{%url 'home'%}">LOGO</a>
    </div>
</nav>

    {%block content%}
    {%endblock%}

</body>

</html>

</body>
</html>