{%extends "base.html"%}
{%block content%}
<div class="page-background">
    <div class="page-header">
        <h1>Graphics by Tom</h1>
    </div>
    {%if messages%}
    <div>
        {%for message in messages%}
            {{message}}
        {%endfor%}
    </div>
    {%endif%}
    <a href="{%url 'unpurchasable'%}">
        <div  class="home-options">
            <div  class="home-text">Previous work</div>
        </div>
    </a>

    <a href="{%url 'about_me'%}">
        <div  class="home-options">
            <div  class="home-text">About me</div>
        </div>
    </a>

    {%if user.is_authenticated%}
        <a href="{%url 'order_work'%}">
            <div  class="home-options">
                    
                <div class="home-text">Order work</div>
                    
            </div> 
        </a>
    {%endif%}
</div>
{%endblock%}
