{%extends "base.html"%}
{%block content%}
<div class="page-background">
    <div class="page-header">
        <h1>Graphics by Tom</h1>
    </div>
    {%if messages%}
    <div>
        {%for message in messages%}
            {{message}}
        {%endfor%}
    </div>
    {%endif%}
    <div  class="home-options">
        <a href="{%url 'unpurchasable'%}">

            <div id="item-1" class="home-text">Previous work</div>

        </a>
    </div>

    <div class="home-options">
        <a href="{%url 'about_me'%}">

            <div id="item-2" class="home-text">About Tom</div>
    
        </a>
    </div>

    {%if user.is_authenticated%}
        <div  class="home-options">
            <a href="{%url 'order_work'%}">
              
            <div id="item-3" class="home-text">Order work</div>
                    
            </a>
        </div>
    {%endif%}
</div>

<script>
$(document).ready(function(){
  $("#item-1").hover(function(){
    $(this).css("font-size", "30px");
    }, function(){
    $(this).css("font-size", "20px");
  });
    $("#item-2").hover(function(){
    $(this).css("font-size", "30px");
    }, function(){
    $(this).css("font-size", "20px");
  });
    $("#item-3").hover(function(){
    $(this).css("font-size", "30px");
    }, function(){
    $(this).css("font-size", "20px");
  });
});
</script>
{%endblock%}
