{%extends "base.html"%}
{% load static %}
{%block content%}
    <h1>Previous work</h1>
    <div>
    <a href="{% url 'unpurchasable' %}">Clear</a>
    <a href="{% url 'unpurchasable_logo' %}">Logo</a>
    <a href="{% url 'unpurchasable_clothing' %}">Clothing</a>
    <a href="{% url 'unpurchasable_web_app' %}">Web app</a>
    <a href="{% url 'unpurchasable_advertising' %}">Advertising</a>
    <a href="{% url 'unpurchasable_illustration' %}">Illustration</a>
    </div>
    {% if request.user.is_superuser %}
    <a href="{%url 'unpurchasable_form'%}">Add piece</a>
    {%endif%}   

    {%for pieces in add_pieces%}
    <br>
    <br>
    <div>
        <div>
            <img src="{%static 'pieces.piece'%}" alt="image">
        </div>
        <div>Title: {{pieces.title}}</div>
        <div>Company: {{pieces.company}}</div>
        <div>{% include "partials/pieces_category.html" %}</div>
        <div>
            <div><a href="{% url 'unpurchasable_piece' pieces.id %}">View item</a></div>
            {% if request.user.is_superuser %}
            <a href="{% url 'unpurchasable_piece_delete' pieces.id %}">Delete</a>
            {%endif%}
        </div>
    </div>
    <br>
    {%endfor%}
{%endblock%}